# DATA 1 Practical 4
                                                                                                    Simos Gerasimou


## A Data Journey Through The Titanic

On April 15, 1912, during her maiden voyage from Southampton to New York, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg [Wikipedia](https://en.wikipedia.org/wiki/RMS_Titanic). As it was considered “unsinkable”, the Titanic did not carry enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.

**DataVision** has been commissioned by Her Majesty The Queen to investigate the conditions in which people survived and whether this was because of luck or whether some groups were more likely to survive than others. If discrimination due to gender or socio-economic class is identified, the Queen intends to use this information to change the cruise policies accordinly. 

#### Your tasks are to explore this dataset and generade some actionable knowledge. 


#### This Jupyter Notebook will be presented to  the House of Commons  who have limited knowledge about data science. So, your findings should be complemented by a suitable justification explaining what you observe and, when applicable, what does this observation  mean and, possibly, why it occurs.

* For each question (task) a description is provided accompanied (most of the time) by two cells: one for writing the Python code and another for providing the justification. Feel free to add more cells if you feel they are needed, but keep the cells corresponding to the same question close by.

#### Note: You are advised to use pandas and matplotlib throughout this practical. If you haven't already done so, complete the exercises on Pandas tutorial to become familiar with the library.

**Pandas API Reference**: https://pandas.pydata.org/pandas-docs/stable/reference/index.html
**Matplotlib API Reference**: https://matplotlib.org/3.1.1/api/index.html

***

### Part 1: Reading dataset

The Titanic dataset is available on the following link:
* [Titanic dataset](https://drive.google.com/file/d/1lUSFcLr6CMvxqUZKiNmtsTGhtSUs4DTV/view?usp=sharing)


**T1) Load the Titanic dataset using Pandas**

**Note**: You have to download the dataset on your local machine and then load it onto the Jupyter Notebook

In [ ]:
import pandas as pd 
import seaborn as sns

# Write your answer here
file = "titanic.csv"

***

### Part 2: Cleaning the dataset

**T2) Print (i) the first 15 and (ii) the last 10 records of the dataframe**

In [ ]:
# Write your answer here
# The first 10 records

In [ ]:
# Write your answer here
# The last 10 records

**T3) Get general info about the dataset**

In [ ]:
# Write your answer here

**T4) Explore the dataset and try to understand the meaning of each variable (column). Identify which variables are categorical and which are numerical.**

**Note**: Inferring the meaning of variables 'Pclass', 'SibSp', 'Parch' could be challenging; think of what is missing from the dataset and what types of people were travelling on the Titanic. If you find it more difficult, the answer is at the end of this notebook

In [ ]:
# Answer:
# - PassengerId     
# - Survived        
# - Pclass          
# - Name         
# - Sex          
# - Age        
# - SibSp      
# - Parch      
# - Ticket  
# - Fare    
# - Cabin   
# - Embarked

**T5) Get the shape of the dataframe**

In [ ]:
# Write your answer here

**T6) Get the name of the columns for the dataframe**

In [ ]:
# Write your answer here

**T7) Do you think the columns (variables) need to be more readable; especially, those that you might have found difficult to understand in T4**

In [ ]:
# Write your answer here

**T8) Are there any duplicated records exist?**

**Note**: A record is duplicated if all its entries are identical with another record

In [ ]:
# Write your answer here

**T9) Copy the dataset so that you manipulate the copied dataset and leave the original unaffected**

Note: Check the pandas documentation for help on how to copy the dataframe

In [ ]:
# Write your answer here

**T10) Is there any missing data? Is this a messy or a clean dataset?**

In [ ]:
# Write your answer here

**T11) What should we do with the variable with the highest number of missing data. Consider the amount of missing data compared to the total number of available data.**

In [ ]:
# Write your answer here

**T12) Impute the categorical variable (just one) with the mode value**

* Tip: check the fillna function in Pandas
* Tip: categorical variables (columns) include data which may be divided into groups (e.g., gender)

In [ ]:
# Write your answer here

**T13) Plot the histogram of the numeric variable with missing data so as to determine the best value to fill in the missing data**

In [ ]:
# Write your answer here

**T14) Impute the numeric variable (just one) with an appropriate value**

* Tip: what value does it make sense to impute for this variable?

In [ ]:
# Write your answer here

**T15) Get some descriptive statistics for the dataset**

* Tip: Use Pandas

In [ ]:
# Write your answer here

**T16) Plot a density graph that shows the age distribution of passengers who survived and did not survive**

* Tip: Look at histogram plots with the KDE option

In [ ]:
# Write your answer here

**T17) For each passenger, find out how many family members she/he has in total and store this information in the dataframe**

In [ ]:
# Write your answer here

**T18): Find out who has the most family members on board**

In [ ]:
# Write your answer here

**T19) Given that Titanic stopped in three ports (C = Cherbourg, Q = Queenstown, S = Southampton) before departing from the UK, can we identify any patterns regarding the ports at which passengers embarked on the Titanic? Plot a bar plot or pie chart to illustrate this**

In [ ]:
# Write your answer here

**T20) Did passengers of higher socioeconomic class have a higher rate of survival? Draw a bar plot to visualise this and calculate the percentage of passengers survived from each class**

* Tip: Which variable signigies a difference in socioeconomic class among passengers?

In [ ]:
# Write your answer here

**T21) Following from T20, can you display the same information as a table using the groupby operator of Pandas with the ticket class as the index?**

* Tip: Look at https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
* Tip: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [ ]:
# Write your answer here

**T22) Given the interesting insights from T20 and T21, it seems interesting to see whether there is any pattern with regards to the ticket class and where passengers embarked the ship. Generate a table to display this using the crosstabs operator of Pandas with the ticket class as the index and embarkement point as the other axis**

* Tip: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html

**Note:** This is called a **contingency table** and summarises data for two (or more) categorical variables

In [ ]:
# Write your answer here

**T23) Following from T22, generate a similar contingency table but group further the horizontal axis (ticket class) with information whether/how many passengers have survived or not**

* Tip: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html

In [ ]:
# Write your answer here

**T24) How was the ticket fare distributed per class? Generate a boxplot and investigate whether there are any interesting insights**

In [ ]:
# Write your answer here

**T25) Have you identified this fare value which is so far away from the typical fare values for first class tickets? Can you identify the ticket holder(s) and whether they survived?**

In [ ]:
# Write your answer here

**T26) Following from T24, can you display the same information as a table using the groupby operator of Pandas with the ticket class as the index?**

Tip: Look at https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
Tip: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html**

In [ ]:
# Write your answer here

**T27) Implement the Pearson colleration metric to investigate whether there is any correlation between 'Fare' and 'Survived'. Do the same for the Spearman colleration metric. Once you finish the implementation you can check their correctness using the built-in functions of Scipy.stats**

**What is your interpretation for the correlation between "Fare" and "Survived"?**

* Tip: See https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.pearsonr.html
* Tip: See https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.spearmanr.html

In [ ]:
# Write your answer here

### Brain Teaser
**Generate a new column 'Title' that includes the title of each passenger and has only the following entries:**
* Master, Miss, Mr, Mss 

where
* Miss includes also Mlle and Ms
* Mme includes also Mrs
* all the remaining titles become Rare

In [ ]:
# Write your answer here

**Generate a contingency table to show how the title of a passenger (x axis) is related to the male/female who survived/or not (y axis)**

In [ ]:
# Write your answer here

### Should you finish earlier/want to practice at home, you could
* Generate plots and groupings for fare, genres, age etc
* Any other analysis that you might could generate some useful insight.
* Try to visualise, group and use crosstabs for the datasets from Practicals 1-3

In [ ]:
# Answers to T4
# - Pclass     Ticket class	     
# - SibSp      # of siblings/spouses aboard the Titanic
# - Parch      # of parents / children aboard the Titanic